html{
    font-size: 18px;
    @include media-breakpoint-down(lg) {
	font-size: 16px;
    }
    @include media-breakpoint-down(md) {
	font-size: 14px;
    }
    @include media-breakpoint-down(sm) {
	font-size: 13px;
    }
}
@include media-breakpoint-up(lg) {
    .col-lg-15{
	flex: 0 0 20%;
	max-width: 20%;
    }
}
.fontsize-xs{
    font-size: rem(14px);
}
.fontsize-s{
    font-size: rem(16px);
}
.fontsize-m{
    font-size: rem(20px);
}
.fontsize-l{
    font-size: rem(24px);
}
.fontsize-xl{
    font-size: rem(28px);
}
.fontsize-xxl{
    font-size: rem(34px);
}
.fontsize-xxxl{
    font-size: rem(42px);
    @include media-breakpoint-down(sm) {
	font-size: 2rem;
    }
}
.fontsize-xxxxl{
    font-size: rem(52px);
    @include media-breakpoint-down(sm) {
	font-size: 2.1rem;
    }
}
.fontsize-xxxxxl{
    font-size: rem(60px);
}
.font-secondary{
    font-family: $font-secondary;
}
.fontweight-700{
    font-weight: 700;
}
.fontweight-600{
    font-weight: 600;
}

.btn-secondary{
    color: #fff;
}

img{
    max-width: 100%;
    height: auto;
}
svg.icon{
    width: rem(18px);
    height: rem(18px);
}
.promobar{
    text-align: center;
    background-color: $blue;
    color: #fff;
    padding: rem(10px 0);
    .icon{
	margin: rem(0 10px 2px);
    }
}
.topbar{
    padding: 1rem 0;
    .row{
	justify-content: space-between;
	align-items: center;
    }
    .cart a{
	color: #777;
	font-weight: 700;
	.icon{
	    margin-right: .1rem;
	}
	span{
	    font-weight: 400;
	}
    }
}
.site-header{
    .navbar-collapse{
	padding: .5rem 0;
    }
    .nav-link{
	font-weight: 900;
	@include media-breakpoint-up(lg) {
	    font-size: rem(20px);
	}
    }

    @include media-breakpoint-up(md) {
	.toggler{
	    display: none;
	}
    }
    @include media-breakpoint-down(sm) {
	.nav-item + .nav-item{
	    border-top: 1px solid #474747;
	}
	.dropdown-item,
	.nav-link{
	    font-size: 1.3rem;
	}
    }
    @include media-breakpoint-down(xs) {
	.cart{
	    display: none;
	}
	.logo{
	    max-width: 244px;
	}
    }
}

.home-banner{
    background: url(../images/banner.jpg) center center no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
    padding: 2rem 0;
    .row{
	min-height: rem(365px);
	align-items: center;
    }
    .form-control{
	border-color: #fff;
	color: #4F5357;
    }
}
.product{
    padding-top: rem(60px);
    @include media-breakpoint-down(sm) {
	text-align: center;
	.spec{
	    list-style: none;
	    padding: 0;
	}
    }
    .product-image{
	text-align: center;
    }
    .product-title{
	color: #212121;
	font-weight: 700;
	margin: 0;
    }
    .spec{
	margin-bottom: 0;
	@include media-breakpoint-down(sm) {
	    margin-top: 1.5rem;
	}
    }
    .price{
	font-size: rem(38px);
	font-weight: 700;
	margin-bottom: 1rem;
    }
    .old{
	text-decoration: line-through;
    }
    .new{
	color: $red;
    }
    .desc{
	margin-top: 1rem;
	font-size: rem(24px);
	color: #212121;
    }
}
.btn-lg{
    .icon{
	position: relative;
	width: 1.2rem;
	height: 1.2rem;
	top: -1px;
	margin-left: .3rem;
    }
}
label{
    font-size: .8rem;
}
.cart{
    .row{
	@include media-breakpoint-up(xl) {
	    .col-xl-4 + .col-xl-4:before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 1px;
		height: 100%;
		background-color: #666;
	    }
	}
	@include media-breakpoint-between(md,lg) {
	    > .col-md-6 + .col-md-6:before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 1px;
		height: 100%;
		background-color: #666;
	    }
	}
    }
}
.site-footer{
    .footer{
	min-height: rem(80px);
	background-color: $blue;
    }
    .copy{
	background-color: $dark;
	color: #777;
	padding: 1rem 0;
	.row{
	    align-items: center;
	}
	.nav{
	    justify-content: space-between;
	    a{
		color: #777;
		&:hover{
		    color: #fff;
		}
	    }
	}
	@include media-breakpoint-down(sm) {
	    text-align: center;
	    .nav{
		margin-top: .5rem;
	    }
	}

    }
}
#toTop{
    position: fixed;
    bottom: 5%;
    right: 3%;
    cursor: pointer;
    display: none;
    width: rem(43px);
    height: rem(43px);
    padding: .5rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='350' height='350' style='' xml:space='preserve'%3E%3Crect id='backgroundrect' width='100%25' height='100%25' x='0' y='0' fill='none' stroke='none' class='' style=''/%3E%3Cg class='currentLayer' style=''%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cg id='svg_1' class='' fill='%23ffffff' fill-opacity='1'%3E%3Cpath d='M314.8862333126068,230.20563665390014 L181.8322333126068,97.16063665390016 c-1.901,-1.903 -4.088,-2.856 -6.562,-2.856 s-4.665,0.9530000000000002 -6.567,2.856 L35.66023331260681,230.20563665390014 C33.754233312606814,232.11163665390015 32.80423331260681,234.29863665390013 32.80423331260681,236.77363665390016 c0,2.474 0.9530000000000002,4.664 2.856,6.566 l14.272,14.271 c1.903,1.903 4.093,2.854 6.567,2.854 c2.474,0 4.664,-0.9510000000000002 6.567,-2.854 l112.204,-112.202 l112.208,112.209 c1.9020000000000001,1.903 4.093,2.848 6.563,2.848 c2.478,0 4.668,-0.9510000000000002 6.57,-2.848 l14.274000000000001,-14.277 c1.9020000000000001,-1.9020000000000001 2.847,-4.093 2.847,-6.566 C317.7332333126068,234.29863665390013 316.7882333126068,232.10863665390013 314.8862333126068,230.20563665390014 z' id='svg_2' fill='%23ffffff' fill-opacity='1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-color: rgba($primary, .7);
    background-size: rem(30px);
    background-position: center center;
    background-repeat: no-repeat;
    padding: 0;
    border-radius: 5px;
    opacity: .7;
    &:hover{
	opacity: 1;
    }
}