// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


// Table of Contents
//
// Color system
$gray-50: #F5F6F7;
$gray-100: #EBEDF0;
$gray-200: #DEE2E6;
$gray-300: #D1D6DA;
$gray-400: #BCC0C4;
$gray-500: #999EA3;
$gray-600: #7B8085;
$gray-700: #4F5357;
$gray-800: #383C40;
$gray-900: #1F2326;

$white: #ffffff;

$red: #ff0000;
$green: #09A05F;
$yellow: #f90;
$blue: #4388cc;

$colors: ();

$colors: map-merge(
(
"blue":       $blue,
"red":        $red,
"yellow":     $yellow,
"green":      $green,
"gray":       $gray-600,
"gray-dark":  $gray-800
),
$colors
);


$primary:       $red;
$secondary:     $yellow;
$success:       $blue;
$warning:       $yellow ;
$danger:        $red;
$light:         $gray-50;
$dark:         #262626;


$theme-colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
(
"primary":    $primary,
"secondary":  $secondary,
"success":    $success,
"warning":    $warning,
"danger":     $danger,
),
$theme-colors
);


// stylelint-disable-next-line scss/dollar-variable-default
// Options
$enable-shadows: false;
$enable-rounded: false;
$enable-gradients: true;
// Spacing
// Body
$body-color: $gray-700;
// Links
$link-color: #006eed;
$link-hover-decoration: none;
// Paragraphs
// Grid breakpoints

$container-max-widths: (
sm: 570px,
md: 760px,
lg: 990px,
xl: 1190px
);
// Grid containers
// Grid columns
// Fonts
// Components
$border-radius: 4px;
// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

$h1-font-size:  rem(28px);
$h2-font-size:  rem(24px);
$h3-font-size:  rem(20px);
$h4-font-size:  rem(18px);
$h5-font-size:  rem(16px);

$headings-font-weight:  400;

// Tables

// Buttons
$btn-font-weight: 500;
$btn-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);

$btn-font-size-lg: 1.5rem;
// Forms
$label-margin-bottom: .2rem !default;

$form-group-margin-bottom: .2rem;


$input-btn-font-size: .7rem;
$input-font-size-lg: 1rem;

$input-btn-padding-y: .2rem;
$input-btn-padding-x: .2rem;




$input-disabled-bg: $gray-100;

$input-box-shadow: none;
$input-placeholder-color: $gray-500;

$input-group-addon-bg: #fff;

$input-font-weight: 600;
$btn-font-weight: 600;

$input-padding-y-lg: 0.7rem;
$input-padding-x-lg:  0.75rem;

$input-height-lg: rem(55px);

$btn-padding-y-lg: 0.75rem;
$btn-padding-x-lg: $input-padding-x-lg;
$btn-font-size-lg: $input-font-size-lg;

// Dropdowns
$dropdown-bg: $dark;
$dropdown-link-color: #fff;
// Z-index master list
// Navs
// Navbar
$navbar-padding-y: 0;

$nav-link-padding-y: rem(9px);

$navbar-dark-color: $white;
$navbar-dark-hover-color: $blue;
///$navbar-light-color: #fff;
// Pagination
// Jumbotron
// Form states and alerts
// Cards
$card-border-color: $gray-200;
$card-border-radius: 6px;

$card-spacer-x: rem(24px);

$card-cap-bg: $gray-50;
// Tooltips
// Popovers
// Badges
// Modals
// Alerts
// Progress bars
// List group
$list-group-item-padding-y: 1.5rem;
$list-group-item-padding-x:$card-spacer-x;
// Image thumbnails
// Figures
// Breadcrumbs
// Carousel
// Close
// Code


//Datepicker
$gray: $gray-100;
$border-radius-base: 0;
$dropdown-border: 0;
$gray-lighter: $gray-100;
$gray-light: $gray-100;
$state-info-bg: #546465;
$datepicker-dropdown-bg: #ccc;


$btn-primary-color: #fff;
$btn-primary-bg: $primary;
$btn-primary-border: $primary;