<ul class="nav">
    <li class="nav-item{% if meldungitem == 'Verlagsinformationen' %} active"{% endif %}">
	<a class="nav-link" href="meldung-verlagsinformationen.html">Verlagsinformationen</a>
    </li>
    <li class="nav-item{% if meldungitem == 'Tarife' %} active"{% endif %}">
	<a class="nav-link" href="meldung-tarife-and-preise.html">Tarife & Preise</a>
    </li>
    <li class="nav-item{% if meldungitem == 'Bundeslandausweisung' %} active"{% endif %}">
	<a class="nav-link" href="meldung-bundeslandausweisung.html">Bundeslandausweisung</a>
    </li>
    <li class="nav-item{% if meldungitem == 'Auflagenkategorien' %} active"{% endif %}">
	<a class="nav-link" href="meldung-auflagenkategorien.html">Auflagenkategorien</a>
    </li>
    <li class="nav-item">
	<a class="nav-link" href="#">Dateneingabe</a>
    </li>
    <li class="nav-item{% if meldungitem == 'Meldeformelar' %} active"{% endif %}">
	<a class="nav-link" href="meldung-meldeformelar.html">Meldeformelar</a>
    </li>
</ul>